<h2>Edit Apple</h2>

<form action="/apples/<%= @apple.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <p>
    <label for="type_of_apple" class="form-label">Type of Apple</label>
    <input name="apple[type_of_apple]" id="type_of_apple" value="<%= @apple.type_of_apple %>">
  </p>

  <p>
    <label for="apple_quality" class="form-label">Apple Quality</label>
    <input name="apple[apple_quality]" id="apple_quality" value="<%= @apple.apple_quality %>">
  </p>

  <input type="submit" value="Update Apple" class="form-button">
</form>


