<a href="apples/new">Add New Apple</a>

<h2>Apples</h2>


<table>
  <thead>
  <tr>
    <th>Type of Apple</th>
    <th>Apple Quality</th>
  </tr>
  </thead>
  <tbody>
  <% @apples.each do |apple| %>
    <tr>
      <td>
        <a href="/>apples/<%= apple.id %>">
          <li><%= apple.type_of_apple %></li>
        </a>
      </td>

      <td>
        <a href="/apples/<%= apple.id %>">
          <li><%= apple.apple_quality %></li>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
