<h2> Showing Apple </h2>

<dl class="attributes">
  <dt>Type of Apple</dt>
  <dd><%= @apple.type_of_apple %></dd>
  <dt>Apple Quality</dt>
  <dd><%= @apple.apple_quality %></dd>
</dl>

<div class="actions">
  <a href="/apples/<%= @apple.id %>/edit">Edit</a>
</div>


